#profileOverlay {
  position:fixed;
  top:0; left:0; width:100%; height:100%;
  background: rgba(0,0,0,0.9);
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  color:#fff;
  z-index:100;
}
#profileOverlay input, #profileOverlay button {
  margin:5px; padding:8px; border-radius:5px; border:none;
}
#profileOverlay button {background:#00d4ff; color:#000; cursor:pointer;}
